/********* Footer ********/
.wrapper {
    min-height: calc(100vh - 80.61px - 75.67px);
}

.body-footer {
    border-top: 1px solid $default-gray;
    padding: 15px;
}

/********* Footer ********/
